{% extends "base.html" %}

{% block titulo %} lista de usuarios {% endblock %}

{% block contenido %}  
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nuevo usuarios</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">usuarios</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nro_doc</th>
                        <th scope="col">Nombre_Usuario</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Id_Rol</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for usuarios in usuario_list %}
                    <tr class="">
                        <td scope="row">{{ usuarios.Nr_doc }}</td>
                        <td>{{ usuarios.Nombre }}</td>
                        <td>{{ usuarios.Contraseña }}</td>
                        <td>{{ usuarios.Id_rol }}</td>
                        <td><a name="" id="" class="btn btn-info" href="{% url 'editar' usuarios.Nr_doc %}" role="button">Editar</a>
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' usuarios.Nr_doc %}" role="button">Borrar</a>

                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>
{% endblock %}